<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IUnknownTypeResolver" type="Urasandesu.Fayle.IUnknownTypeResolver, Urasandesu.Fayle" />
    <alias alias="IUnknownMethodResolver" type="Urasandesu.Fayle.IUnknownMethodResolver, Urasandesu.Fayle" />
    <alias alias="TypeSentenceResolver" type="Urasandesu.Fayle.Standards.TypeSentenceResolver, Urasandesu.Fayle.Standards" />
    <alias alias="MethodFormResolver" type="Urasandesu.Fayle.Standards.MethodFormResolver, Urasandesu.Fayle.Standards" />
    <container>
      <register type="IUnknownTypeResolver" name="TypeSentenceResolver" mapTo="TypeSentenceResolver" />
      <register type="IUnknownMethodResolver" name="MethodFormResolver" mapTo="MethodFormResolver" />
    </container>
  </unity>
</configuration>