<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.SemanticLogging" version="2.0.1406.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging.EventSourceAnalyzer" version="2.0.1406.1" targetFramework="net451" />
  <package id="ICSharpCode.Decompiler" version="2.3.1" targetFramework="net451" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net451" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net451" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net451" />
</packages>